@model BMSHPMS.DSReception.ViewModels.PrintSerialVM

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>列印-@Model.Receipt?.ReceiptNumber</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @* <link rel="stylesheet" href="/layui/css/layui.css" media="all"> *@
    <script src="~/jquery.min.js"></script>
    <script src="~/jquery.print.min.js"></script>
</head>
<body>
    <style>
        @@media all {
            body {
                margin: 1cm;
            }

            .print-receipt {
                margin-bottom: 10px;
            }

            .print-receipt-item {
                margin: 10px;
            }

            table {
                display: inline-table;
                margin: 10px;
            }
        }

        @@media print {
            .no-print {
                display: none;
            }

            @@page {
                margin: 0;
            }
        }
    </style>
    <div id="printserial" class="layui-container">
        <div class="print-receipt">
            <span class="print-receipt-item">@Model.Receipt?.ReceiptNumber</span>
            <span class="print-receipt-item">@Model.Receipt?.DharmaServiceName</span>
            <span class="print-receipt-item">@Model.Receipt?.ReceiptDate.Value.ToString("yyyy-MM-dd")</span>
        </div>

        <div class="print-list">
            @if (Model.Donors.Count > 0)
            {
                <table>
                    <thead>
                        <tr>
                            <td>功德主</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Donors)
                        {
                            <tr>
                                <td>@item.Sum:&nbsp;</td>
                                <td>@item.SerialCode</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (Model.Longevitys.Count > 0)
            {
                <table>
                    <thead>
                        <tr>
                            <td>延生</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Longevitys)
                        {
                            <tr>
                                <td>@item.Sum:&nbsp;</td>
                                <td>@item.SerialCode</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (Model.Memorials.Count > 0)
            {
                <table>
                    <thead>
                        <tr>
                            <td>附薦</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Memorials)
                        {
                            <tr>
                                <td>@item.Sum:&nbsp;</td>
                                <td>@item.SerialCode</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>


    </div>
    <div class="no-print">
        <button class="layui-btn" onclick="window.close();">關閉</button>
    </div>
    <script>
        window.onload = function () {
            $("#printserial").print();
        };

        // window.onafterprint = function () {
        //     window.close();
        // };

    </script>
</body>

</html>
