@model DSRegisterVM
@{
    var donors = Model.DonationProject_Donors;
    var longevitys = Model.DonationProject_Longevitys;
    var memorials = Model.DonationProject_Memorials;

    string submitId = "submit" + Guid.NewGuid().ToString("N");

    string url = "/DSReception/DSRegister/Register";
}

<div id="REGa804ca45d0204775b8e7b882ac90be64" style="padding:20px;">
    <style>
        form .layui-row {
            font-size: 16px;
        }

        form .layui-card-header {
            font-size: 16px;
        }
    </style>
    <div style="padding:20px; margin:0 auto; background-color:#F2F2F2;">
        <form class="layui-form" action="" >
            <div class="layui-row">
                <div class="layui-col-md8">
                    <div class="layui-panel" style="text-align:center;font-size:18px;">
                        <div style="font-size:18px;color:red;padding:20px;">@Model.DharmaServiceShow.ServiceFullName</div>
                    </div>
                </div>
            </div>
            <br />
            <div class="layui-row">
                <div class="layui-col-md8">
                    <div class="layui-card">
                        <div class="layui-card-header">收據</div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">收據號碼</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="ReceiptNumber" lay-verify="required" lay-reqtext="請輸入收據號碼" required class="layui-input" placeholder="請輸入收據號碼">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">聯絡人</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="ContactName" class="layui-input" placeholder="請輸入聯絡人">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">電話號碼</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="ContactPhone" class="layui-input" placeholder="請輸入電話號碼">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <hr class="layui-border-green" />
            <div class="layui-row layui-col-space10">
                @if (donors.Count >= 1)
                {
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">功德主</div>
                            <div class="layui-card-body">
                                @foreach (var item in donors)
                                {
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">$@item.Sum<br />(@item.SerialCode)</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="@item.ID" class="layui-input" placeholder="請輸入數目" min="0" >
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                }
                @if (longevitys.Count >= 1)
                {
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">延生位</div>
                            <div class="layui-card-body">
                                @foreach (var item in longevitys)
                                {
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">$@item.Sum<br />(@item.SerialCode)</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="@item.ID" class="layui-input" placeholder="請輸入數目" min="0">
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                @if (memorials.Count >= 1)
                {
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">附薦位</div>
                            <div class="layui-card-body">
                                @foreach (var item in memorials)
                                {
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">$@item.Sum<br />(@item.SerialCode)</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="@item.ID" class="layui-input" placeholder="請輸入數目" min="0">
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            <hr class="layui-border-green" />
            <div class="layui-row">
                <div class="layui-col-md8">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="@submitId" type="submit">提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">清除</button>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" type="button" onclick="ff.CloseDialog();">關閉</button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="DharmaServiceID" value="@Model.DharmaServiceID" />
        </form>
    </div>

    <script>
        layui.use(function () {
            let form = layui.form;
            form.on('submit(@submitId)', function (data) {

                layui.layer.confirm('確定提交新登記?', {title: '提交登記' }, function (index) {

                    $.post('@url', data.field, function (html) {
                        $('#REGa804ca45d0204775b8e7b882ac90be64').html(html);
                    }, 'html');

                    layui.layer.close(index);
                });
                return false; //阻止表單跳轉
            });
        });
    </script>
</div>