@model DSRegResultVM
@{
    var donors = Model.Donors;
    var longevitys = Model.Longevitys;
    var memorials = Model.Memorials;

    string printUrl = "/DSReception/ReceiptPrint/PrintSerial?receiptNumber=" + @Model.ReceiptNumber;
}

<style>
    .reg-result {
        padding: 20px;
        margin: 0 auto;
        background-color: #F2F2F2;
        margin-bottom:100px;
    }

        .reg-result .layui-row {
            font-size: 16px;
        }

        .reg-result .layui-card-header {
            font-size: 16px;
        }
</style>

<div>
    <div class="reg-result" id="reg-result">
        <div class="layui-row">
            <div class="layui-col-md4">
                <div class="layui-panel" style="font-size:18px;">
                    <div style="padding:10px;">
                        登記結果: <span style="color:red;">@Model.Message</span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="layui-row">
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">@Model.DharmaServiceName</div>
                    <div class="layui-card-body">
                        @* <div class="layui-form-item">
                            <lable class="layui-form-label">收據號碼:</lable>
                            <div class="layui-input-inline">
                                <lable class="layui-form-label">@Model.ReceiptNumber</lable>
                            </div>
                        </div> *@
                        <div>
                            收據號碼: @Model.ReceiptNumber
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row layui-col-space15">
            @if (donors.Count > 0)
            {
                <div class="layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">功德主編號</div>
                        <div class="layui-card-body">
                            @foreach (var item in donors)
                            {
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">$@item.Sum:</label>
                                        <div class="layui-input-inline">
                                            <label class="layui-form-label layui-font-red">@item.SerialCode</label>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            @if (longevitys.Count > 0)
            {
                <div class="layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">延生位編號</div>
                        <div class="layui-card-body">
                            @foreach (var item in longevitys)
                            {
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">$@item.Sum:</label>
                                        <div class="layui-input-inline">
                                            <label class="layui-form-label layui-font-red">@item.SerialCode</label>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            @if (memorials.Count > 0)
            {
                <div class="layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">附薦位編號</div>
                        <div class="layui-card-body">
                            @foreach (var item in memorials)
                            {
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">$@item.Sum:</label>
                                        <div class="layui-input-inline">
                                            <label class="layui-form-label layui-font-red">@item.SerialCode</label>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

        <hr class="layui-border-green" />
        <div class="layui-row">
            <div class="layui-col-md8">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" onclick="loadDSRegisterPage('@Model.DharmaServiceID')">新功德</button>
                        <a class="layui-btn layui-btn-primary" target="_blank" href="@printUrl">列印</a>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" type="button" onclick="ff.CloseDialog();">關閉</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
