@model DSRegResultVM
@{
    var donors = Model.DonorInfos;
    var longevitys = Model.LongevityInfos;
    var memorials = Model.MemorialInfos;
}

<style>
    .reg-result {
        padding: 20px;
        margin: 0 auto;
        background-color: #F2F2F2;
        margin-bottom:100px;
    }

        .reg-result .layui-row {
            font-size: 16px;
        }

        .reg-result .layui-card-header {
            font-size: 16px;
        }
</style>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <br />
    <div style="font-size:16px; color:red;">@Model.Message</div>
    <br />
}

<div class="reg-result">
    @if (donors.Count > 0 || longevitys.Count > 0 || memorials.Count > 0)
    {
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>功德項目登記結果</legend>
        </fieldset>

        <div class="layui-row layui-col-space15">
            @if (donors.Count > 0)
            {
                <div class="layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">功德主編號</div>
                        <div class="layui-card-body">
                            @foreach (var item in donors)
                            {
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">金額 @item.Sum:</label>
                                        <div class="layui-input-inline">
                                            <label class="layui-form-label layui-font-red">@item.SerialCode</label>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            @if (longevitys.Count > 0)
            {
                <div class="layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">延生位編號</div>
                        <div class="layui-card-body">
                            @foreach (var item in longevitys)
                            {
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">金額 @item.Sum:</label>
                                        <div class="layui-input-inline">
                                            <label class="layui-form-label layui-font-red">@item.SerialCode</label>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            @if (memorials.Count > 0)
            {
                <div class="layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">附薦位編號</div>
                        <div class="layui-card-body">
                            @foreach (var item in memorials)
                            {
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">金額 @item.Sum:</label>
                                        <div class="layui-input-inline">
                                            <label class="layui-form-label layui-font-red">@item.SerialCode</label>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>